@import url('https://fonts.googleapis.com/css?family=Rubik Wet Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
    font-family: Rubik Wet Paint, serif;
    background: linear-gradient(90deg, #D2CBCB 0%, #DCDCDC 0%, #696565 100%);
}

/* МОИ ДОБАВЛЕНИЯ !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.video-text h1 {
    text-shadow: 5px 6px 8px #000000;
}


.slide-text {
    font-size: 2em;
}

.current-price {
    font-family:monospace;
    font-weight: bold;
    font-size: 1.1em;

}


.oops {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}


.zagolovok {
    text-shadow: 5px 6px 8px #000000;
    color:aquamarine;

}





.btn-primary {        /* ПОМЕНЯТЬ!!!!!!!!!!!!! */
    color: aquamarine;
    background: linear-gradient(90deg, #D2CBCB 0%, #DCDCDC 0%, #696565 100%);
    border-style:none;   
}
      


    
.row {
    position: relative;
}
 
    


/* МОИ ДОБАВЛЕНИЯ !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: grey;
}

.navbar-brand img {
    width: 65px;
    
}

.navbar-toggler {
    background-color: #808080;
}

.sidebar {
    color: rgb(0, 0, 0);
    font-family: anton;
    background: linear-gradient(270deg, #D2CBCB 0%, #DCDCDC 0%, #696565 100%);
}




/* button */


.card {
    background: linear-gradient(270deg, #D2CBCB 0%, #DCDCDC 0%, #696565 100%);
    color: rgb(0, 0, 0);
    position: relative;
    
}

.card a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.text {
    text-shadow: 0 0 15px #7fffd4;
}


.slide-text,
.footer-text {
    color: rgb(0, 0, 0);
    margin: auto auto;   
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #D2CBCB 0%, #DCDCDC 0%, #696565 100%);
    color: #7fffd4;
    border-style: none;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}